- if Spina::Blog.frontend_enabled?
  - content_for(:permanent_notice) do
    - unless current_account.robots_allowed?
      .permanent-notice.permanent-notice-info
        = icon_spina('search')
        %p
          =t 'spina.pages.invisible_to_search_engines'
          %small=t 'spina.pages.invisible_to_search_engines_description'

- content_for :application do
  %header#header
    #header_actions
      = yield(:header_actions) if content_for?(:header_actions)

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

    %nav#secondary.tabs
      %ul
        %li{class: ('active' if controller_name == 'posts' and action_name == 'index')}
          = link_to t('spina.blog.posts.all_posts'), spina.admin_blog_posts_path
        %li{class: ('active' if controller_name == 'posts' and action_name == 'live')}
          = link_to t('spina.blog.posts.live_posts'), spina.live_admin_blog_posts_path
        %li{class: ('active' if controller_name == 'posts' and action_name == 'draft')}
          = link_to t('spina.blog.posts.draft_posts'), spina.draft_admin_blog_posts_path
        %li{class: ('active' if controller_name == 'posts' and action_name == 'future')}
          = link_to t('spina.blog.posts.scheduled_posts'), spina.future_admin_blog_posts_path

  = yield

= render template: "layouts/spina/admin/admin"
