- if @category.errors.any?
  - content_for :notifications do
    .notification.notification-danger.animated.fadeInRight
      = icon('exclamation')
      .notification-message
        =t 'spina.notifications.alert'
        %small= @category.errors.full_messages.join('<br />').html_safe
      = link_to '#', data: {close_notification: true} do
        = icon('cross')

%header#header
  .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'
  - unless @category.new_record?
    - if Spina.config.locales.size > 1
      %div{style: 'display: inline-block; margin-left: 12px; top: -4px', data: {dropdown: true}}
        = link_to '#', class: 'button button-link button-round button-small', data: {trigger: 'dropdown', target: '#locales'} do
          = icon('comment')
          = @locale.upcase

        %ul#locales
          - Spina.config.locales.each do |locale|
            %li
              = link_to t("languages.#{locale}"), "?locale=#{locale}", style: ('font-weight: 600' if @locale.to_s == locale.to_s)

  #header_actions
    %button.button.button-primary{type: 'submit', style: 'margin-right: 0', data: {disable_with: t('spina.blog.categories.saving')}}
      = icon('check')
      =t 'spina.blog.categories.save'

= hidden_field_tag :locale, @locale

- Mobility.with_locale(@locale) do
  .active.well
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Blog::Category.human_attribute_name :name
        .horizontal-form-content
          = f.text_field :name, placeholder: Spina::Blog::Category.human_attribute_name(:name_placeholder)

  - unless @category.new_record?
    .pull-right= link_to t('spina.permanently_delete'), spina.admin_blog_category_path(@category), method: :delete, data: {confirm: t('spina.blog.category.delete_confirmation', subject: @category.name)}, class: 'button button-link button-danger'
