<%= render Spina::Forms::TextFieldComponent.new(f, :title, size: "lg", autofocus: f.object.title.blank?) %>

<div class="mt-1 relative">
  <%= f.hidden_field :excerpt, id: "excerpt_input" %>

  <div class="relative form-textarea p-4 shadow-sm max-w-5xl" data-controller="trix" id="insert_excerpt_trix-toolbar" data-action="media-picker:done->trix#insertAttachment">      
    <%= render Spina::Forms::TrixToolbarComponent.new("excerpt_trix-toolbar") %>
    
    <trix-editor class="prose prose-sm focus:outline-none max-w-3xl xl:border-r border-dashed border-gray-200 pr-3" toolbar="excerpt_trix-toolbar" input="excerpt_input" data-trix-target="editor" data-action="trix-file-accept->trix#preventDefault"></trix-editor>
  </div>
</div>

<div class="mt-1 relative">
  <%= f.hidden_field :content, id: "content_input" %>

  <div class="relative form-textarea p-4 shadow-sm max-w-5xl" data-controller="trix" id="insert_content_trix-toolbar" data-action="media-picker:done->trix#insertAttachment">      
    <%= render Spina::Forms::TrixToolbarComponent.new("content_trix-toolbar") %>
    
    <trix-editor class="prose prose-sm focus:outline-none max-w-3xl xl:border-r border-dashed border-gray-200 pr-3" toolbar="content_trix-toolbar" input="content_input" data-trix-target="editor" data-action="trix-file-accept->trix#preventDefault"></trix-editor>
  </div>
</div>

  .horizontal-form-group
    .horizontal-form-label
      = Spina::Blog::Post.human_attribute_name :image_id
    .horizontal-form-content
      = link_to admin_media_picker_path(selected_ids: [f.object.image_id], hidden_field_id: 'media_picker_image_id'), remote: true, class: 'media_picker clearfix' do
        .placeholder
          %span.button.button-small.button-round
            %i.icon.icon-dots
            =t 'spina.images.choose_image'

        - if f.object&.image&.file&.attached?
          .image
            = image_tag variant(f.object.image.file, resize: "300x300^", crop: "300x300+0+0")

        = f.hidden_field :image_id, data: { hidden_field_id: "media_picker_image_id" }
