#post_configuration.tab-content
  .horizontal-form
    %div{style: "margin: 40px 0"}

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Blog::Post.human_attribute_name :category
        .horizontal-form-content
          .select-dropdown
            = f.select :category_id, Spina::Blog::Category.all.collect{|u| [u.name, u.id]},
              include_blank: true, prompt: true

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Blog::Post.human_attribute_name :draft
          %small= Spina::Blog::Post.human_attribute_name :draft_description
        .horizontal-form-content
          = f.check_box :draft, data: {switch: true}

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Blog::Post.human_attribute_name :featured
          %small= Spina::Blog::Post.human_attribute_name :featured_description
        .horizontal-form-content
          = f.check_box :featured, data: {switch: true}

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Blog::Post.human_attribute_name :slug
          %small= Spina::Blog::Post.human_attribute_name :slug_description
        .horizontal-form-content
          = f.text_field :slug, placeholder: Spina::Blog::Post.human_attribute_name(:slug_placeholder)
          - if @post.slug
            %small
              Current permalink:
              \ /blog/posts/#{@post.slug}

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Blog::Post.human_attribute_name :published_at
        .horizontal-form-content
          = f.datetime_field :published_at

      .horizontal-form-group
        .horizontal-form-label
          = Spina::Blog::Post.human_attribute_name :spina_user
        .horizontal-form-content
          .select-dropdown
            = f.select :user_id, Spina::User.all.collect{|u| [u.name, u.id]},
              include_blank: true, prompt: true
