- if @post.errors.any?
  - content_for :notifications do
    .notification.notification-danger.animated.fadeInRight
      = icon('exclamation')
      .notification-message
        =t 'spina.notifications.alert'
        %small= @post.errors.full_messages.join('<br />').html_safe
      = link_to '#', data: {close_notification: true} do
        = icon('cross')

%header#header
  .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'
  - unless @post.new_record?
    - if Spina.config.locales.size > 1
      %div{style: 'display: inline-block; margin-left: 12px; top: -4px', data: {dropdown: true}}
        = link_to '#', class: 'button button-link button-round button-small', data: {trigger: 'dropdown', target: '#locales'} do
          = icon('comment')
          = @locale.upcase

        %ul#locales
          - Spina.config.locales.each do |locale|
            %li
              = link_to t("languages.#{locale}"), "?locale=#{locale}", style: ('font-weight: 600' if @locale.to_s == locale.to_s)

  #header_actions
    %button.button.button-primary{type: 'submit', style: 'margin-right: 0', data: {disable_with: t('spina.blog.posts.saving')}}
      = icon('check')
      =t 'spina.blog.posts.save'

  %nav#secondary.tabs
    %ul
      - @tabs.each_with_index do |tab, i|
        %li{class: (i==0 ? 'active' : '')}
          = link_to t("spina.blog.posts.#{tab}"), "##{tab}"

= hidden_field_tag :locale, @locale

- Mobility.with_locale(@locale) do
  - @tabs.each do |tab|
    = render "spina/admin/blog/posts/form_#{tab}", f: f

  - unless @post.new_record?
    .pull-right= link_to t('spina.permanently_delete'), spina.admin_blog_post_path(@post.id), method: :delete, data: {confirm: t('spina.post.delete_confirmation', subject: @post.title)}, class: 'button button-link button-danger'
