%tr{data: { id: post.id }}
  %td.nowrap
    %h3= link_to post.title, spina.edit_admin_blog_post_path(post.id)
    %small #{time_ago_in_words(post.created_at)} ago
    .labels
      - if post.draft?
        %span.label.label-info= t('spina.blog.posts.concept')
      - if post.published_at and post.published_at > Time.now
        %span.label.label-default
          Will be published on #{post.decorate.published_date}

  %td.nowrap.text-right
    = link_to spina.blog_post_path(post), class: 'button button-small button-link dd-nodrag', target: '_blank' do
      = icon 'eye'
      = t('spina.view')

    = link_to spina.edit_admin_blog_post_path(post.id), class: 'button button-link' do
      = icon 'pencil-outline'
      = t('spina.blog.posts.edit')
