%li{class: ('active' if (current_admin_path.start_with?('/blog')))}
  = link_to admin_blog_posts_path do
    = icon_spina 'rss'
    = t('spina.blog.title')
  %ul
    %li{class: ('active' if current_admin_path.start_with?('/blog/posts'))}
      = link_to t('spina.blog.posts.title'), admin_blog_posts_path
    - if Spina::Blog.feature_enabled?(:categories)
      %li{class: ('active' if current_admin_path.start_with?('/blog/categories'))}
        = link_to t('spina.blog.categories.title'), admin_blog_categories_path
