%li{class: ('active' if (current_admin_path.start_with?('/blog')))}
  = link_to admin_blog_posts_path do
    = icon 'comment'
    = t('spina.blog.title')
    = icon 'caret-right'
  %ul
    %li{class: ('active' if current_admin_path.start_with?('/blog/posts'))}
      = link_to t('spina.blog.posts.title'), admin_blog_posts_path
    %li{class: ('active' if current_admin_path.start_with?('/blog/categories'))}
      = link_to t('spina.blog.categories.title'), admin_blog_categories_path
